[user]
	name = Nick Coutts
[color]
	ui = auto
[push]
	default = simple
  followTags = true
[pull]
	rebase = true
[core]
	editor = vim
	autocrlf = false
	ignorecase = true
[status]
	submoduleSummary = true
  showUntrackedFiles = all
